@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

#login-page {
	background-image: linear-gradient(rgb(0, 0, 0, .3), rgb(0, 0, 0, .4)), url("../images/20549637_6322078.jpg");
	background-size: cover;
	height: 100vh;
	width: 100%;
	justify-content: center;
	display: flex;
	align-items: center;

}

#login-form {
	width: 25rem;
	height: 28rem;
	display: flex;
	flex-direction: column;
	border-radius: 30px;
	background: transparent;
	border: 1px solid #fff;
	backdrop-filter: blur(5px);
	margin-top: 50px;
}

#login-heading {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	margin-top: 50px;
	margin-bottom: 20px;
}

.login-page-labels {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 500;
	color: #fff;
	margin-left: 20px;
	padding: 5px;
}

.login-page-input {
	width: 80%;
	height: 35px;
	border: none;
	outline: none;
	margin-left: 25px;
	color: #fff;
	background: transparent;
	border: 1px solid #fff;
	backdrop-filter: blur(5px);
	border-radius: 5px;
}

#login-page-submit-button {
	background-color: rgb(0, 119, 255);
	width: 30%;
	height: 35px;
	margin: 5% auto;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px;
	border: none;
	outline: none;
}

#login-page-submit-span {
	font-size: 16px;
	color: #ffff;
}