<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>YouAndIBillingApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UserValidation</servlet-name>
    <servlet-class>servlets.UserValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserValidation</servlet-name>
    <url-pattern>/validate-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet to add category !</description>
    <display-name>AddCategory</display-name>
    <servlet-name>AddCategory</servlet-name>
    <servlet-class>servlets.AddCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategory</servlet-name>
    <url-pattern>/add-category</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryList</display-name>
    <servlet-name>CategoryList</servlet-name>
    <servlet-class>servlets.CategoryList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryList</servlet-name>
    <url-pattern>/categories-list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddItem</display-name>
    <servlet-name>AddItem</servlet-name>
    <servlet-class>servlets.AddItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddItem</servlet-name>
    <url-pattern>/add-item</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemList</display-name>
    <servlet-name>ItemList</servlet-name>
    <servlet-class>servlets.ItemList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemList</servlet-name>
    <url-pattern>/items-list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemDetails</display-name>
    <servlet-name>ItemDetails</servlet-name>
    <servlet-class>servlets.ItemDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemDetails</servlet-name>
    <url-pattern>/item-details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryDetails</display-name>
    <servlet-name>CategoryDetails</servlet-name>
    <servlet-class>servlets.CategoryDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryDetails</servlet-name>
    <url-pattern>/category-details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditItem</display-name>
    <servlet-name>EditItem</servlet-name>
    <servlet-class>servlets.EditItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditItem</servlet-name>
    <url-pattern>/edit-item</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCategory</display-name>
    <servlet-name>EditCategory</servlet-name>
    <servlet-class>servlets.EditCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCategory</servlet-name>
    <url-pattern>/edit-category</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteItem</display-name>
    <servlet-name>DeleteItem</servlet-name>
    <servlet-class>servlets.DeleteItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteItem</servlet-name>
    <url-pattern>/delete-item</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCategory</display-name>
    <servlet-name>DeleteCategory</servlet-name>
    <servlet-class>servlets.DeleteCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCategory</servlet-name>
    <url-pattern>/delete-category</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillNumber</display-name>
    <servlet-name>BillNumber</servlet-name>
    <servlet-class>servlets.BillNumber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillNumber</servlet-name>
    <url-pattern>/bill-number</url-pattern>
  </servlet-mapping>
</web-app>